.header {
    margin-top: 0;
    height: 100svh;
}

.main__header {
    display: grid;
    height: 100%;
    position: relative;
}

.main__header > * {
    grid-area: 1/1;
}

.bg-image {
    background-image: url("../../assets/background2.jpg");
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
}

.main__content {
    margin: 0 auto;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    /* height: calc(100svh - var(--nav-height)); */
    min-width: 30ch;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main__header>div:not(.container-divider) {
    /* margin-block: 1em; */
    /* padding-block: 0.8em; */
}

/* .main__header>div:first-child {
    padding-top: 1em;
    margin: 0 auto;
} */

.main__header>div:last-child {
    /* padding-block: 8em; */
    /* margin-bottom: 0; */
}

.main__header-title {
    width: min(15rem, 80%);
    display: flex;
    flex-direction: column;
    text-align: center;
    /* padding-top: 1em; */
    margin: 0 auto;
    position: relative;
}


.main__header-initial {
    width: min(18rem, 75%);
}

.petals {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: min(18rem, 70%);
}

.main__header-venue {
    text-align: center;
    margin-bottom: 0;
    position: relative;
}

.main__header-venue small {
    color: black;
}

.pengantin-header {
    font-family: "Tangerine",
        serif;
    text-align: center;
    line-height: 1.4;
    letter-spacing: 0.07rem;
    margin-block: clamp(3rem, 0.5vw + 0.5rem, 5rem);
}

.pengantin-header h2 {
    font-size: clamp(2rem, 2vw + 1rem, 3rem);
    margin: 0;
    color: black;
}

.text-header {
    color: black;
    font-size: clamp(0.8rem, 1vw + 0.5rem, 1rem);
}